.jumbotron {
    width: 90%;
    background-color: black;
    color: white;
}

.row {
    margin: 10px;
}

.card {
    width: 90%;
}

.card-header {
    background-color: black;
    color: white;
}

#search {
    background-color: grey;
    color: white;
    border: none;
}